flask
flask_sqlalchemy
flask_session
flask-login
flask-moment
flask-paranoid
flask_marshmallow
flask_mail
flask-bcrypt
flask-cors
gunicorn
python-dateutil
python-dotenv
psycopg2-binary
sqlalchemy
qrcode[pil]
qrcode
marshmallow-sqlalchemy